body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  background-color:whitesmoke;
  min-height: 100vh;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}
.stem{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page{
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a{
  all: unset;
}
.btn {
  background-color: rgb(150, 48, 99);
  text-decoration: none;
  color: whitesmoke;
  font-weight: 300;
  border: 1.2px solid rgb(150, 48, 99);
  padding: 0.5em 0.8em;
  border-top-right-radius: 10px;
}
.btn:hover {
  background-color: transparent;
  color:rgb(150, 48, 99);
}
.whatsapp{
  margin-left: 80%;
  margin-top: 75vh;
  position: fixed;
  animation: blip infinite 5s ease;
}
@keyframes blip{
  0%{
      transform:scale(1)
  }
  15%{
      transform:scale(1.2)
  }
  30%{
      transform:scale(1) 
  }
  100%{
      transform:scale(1) 
  }
} 
/* 
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}
@media screen and (min-width: 776px) {
  .no-scroll {
    overflow: auto;
    height: auto;
  }
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}
.container {
  max-width: 1400px;
  margin: 0 1rem;
  box-sizing: border-box;
}
.page-title {
  text-align: center;
}

.btn {
  background-color: #2e180e;
  text-decoration: none;
  color: #8c7c5c;
  font-weight: 300;
  border-radius: 5px;
  border: 1.2px solid black;
  padding: 0.3em 0.5em;
}
.btn:hover {
  background-color: transparent;
}
.linked-card{
  text-decoration: none;
  color: #000;
}
.icon{
  width: 30px;
  height: auto;
} */ 